
.navButtons{
    -fx-background-color: #012D5A;
}
.navButtons:hover{
    -fx-background-color: #F0BF4C;
    -fx-text-fill: #012D5A;
}

.navButtons > #mapIcon{
    -fx-image: url("../images/mapEditor.png");
}

.navButtons:hover > #mapIcon{
    -fx-image: url("../images/mapEditorH.png");
}

.navButtons > #signageIcon{
    -fx-image: url("../images/pathfinding.png");
}

.navButtons:hover > #signageIcon{
    -fx-image: url("../images/pathfindingH.png");
}
.navButtons > #mealIcon{
    -fx-image: url("../images/food.png");
}

.navButtons:hover > #mealIcon{
    -fx-image: url("../images/foodH.png");
}
.navButtons > #supplyIcon{
    -fx-image: url("../images/delivery.png");
}

.navButtons:hover > #supplyIcon{
    -fx-image: url("../images/deliveryH.png");
}
.navButtons > #orderIcon{
    -fx-image: url("../images/order.png");
}

.navButtons:hover > #orderIcon{
    -fx-image: url("../images/orderH.png");
}
.navButtons > #pathfindingIcon{
    -fx-image: url("../images/wayfinding.png");
}

.navButtons:hover > #pathfindingIcon{
    -fx-image: url("../images/wayfindingH.png");
}

.navButtons > #flowerIcon{
    -fx-image: url("../images/flower.png");
}

.navButtons:hover > #flowerIcon{
    -fx-image: url("../images/flowerH.png");
}
.navButtons > #furnitureIcon{
     -fx-image: url("../images/furniture.png");
 }

.navButtons:hover > #furnitureIcon{
    -fx-image: url("../images/furnitureH.png");
}

.navButtons > #serviceIcon{
    -fx-image: url("../images/box.png");
}

.navButtons:hover > #serviceIcon{
    -fx-image: url("../images/boxH.png");
}

.navButtons > #conferenceIcon{
    -fx-image: url("../images/conference.png");
}

.navButtons:hover > #conferenceIcon{
    -fx-image: url("../images/conferenceH.png");
}

.sideNav:hover{
    -fx-background-color: #0e4675;
    -fx-border-color: transparent transparent transparent #F0BF4C;
    -fx-border-width: 4px;
}

.sideNav{
    -fx-background-color: transparent;
}

.orderBtn:hover{
    -fx-border-color: #F0BF4C;
}

.backOrderBtn:hover{
    -fx-border-color: blue;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #012D5A;
    -fx-background-insets: 0;
}

.floorDisplay{
    -fx-font-weight: bold;
}

.rectToggle:selected {
    -fx-background-color: #F0BF4C;
    -fx-border-color: #F0BF4C;
}

.table-view .scroll-bar *{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view .column-header-background .label {
    -fx-text-fill: white;
    -fx-background-color: #012D5A;
    -fx-background-radius: 5;
}

.tab-pane .tab .tab-label{
    -fx-stroke: transparent;
    -fx-text-fill: #012D5A;

}

.choice-box{
    -fx-border-color: #012D5A;
    -fx-border-radius: 5;
}
