
.navButtons{
    -fx-background-color: #012D5A;
}
.navButtons:hover{
    -fx-background-color: #0464b4;
    -fx-stroke: yellow;
    -fx-stroke-width: 5px;
}

.sideNav:hover{
    -fx-background-color: #0e4675;
}

.sideNav{
    -fx-background-color: transparent;
}

.orderBtn:hover{
    -fx-border-color: yellow;
}

.backOrderBtn:hover{
    -fx-border-color: blue;
}


Line{
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: round;
    -fx-stroke: #028A0F;

}
