.navButtons{
    -fx-background-color: #012D5A;
}
.navButtons:hover{
    -fx-background-color: #F0BF4C;
    -fx-text-fill: #012D5A;
}

.navButtons > #mapIcon{
    -fx-image: url("../images/mapEditor.png");
}

.navButtons:hover > #mapIcon{
    -fx-image: url("../images/mapEditorH.png");
}

.navButtons > #signageIcon{
    -fx-image: url("../images/pathfinding.png");
}

.navButtons:hover > #signageIcon{
    -fx-image: url("../images/pathfindingH.png");
}
.navButtons > #mealIcon{
    -fx-image: url("../images/food.png");
}

.navButtons:hover > #mealIcon{
    -fx-image: url("../images/foodH.png");
}
.navButtons > #supplyIcon{
    -fx-image: url("../images/delivery.png");
}

.navButtons:hover > #supplyIcon{
    -fx-image: url("../images/deliveryH.png");
}
.navButtons > #orderIcon{
    -fx-image: url("../images/order.png");
}

.navButtons:hover > #orderIcon{
    -fx-image: url("../images/orderH.png");
}
.navButtons > #pathfindingIcon{
    -fx-image: url("../images/wayfinding.png");
}

.navButtons:hover > #pathfindingIcon{
    -fx-image: url("../images/wayfindingH.png");
}

.navButtons > #flowerIcon{
    -fx-image: url("../images/flower.png");
}

.navButtons:hover > #flowerIcon{
    -fx-image: url("../images/flowerH.png");
}
.navButtons > #furnitureIcon{
     -fx-image: url("../images/furniture.png");
 }

.navButtons:hover > #furnitureIcon{
    -fx-image: url("../images/furnitureH.png");
}

.navButtons > #serviceIcon{
    -fx-image: url("../images/box.png");
}

.navButtons:hover > #serviceIcon{
    -fx-image: url("../images/boxH.png");
}

.navButtons > #conferenceIcon{
    -fx-image: url("../images/conference.png");
}

.navButtons:hover > #conferenceIcon{
    -fx-image: url("../images/conferenceH.png");
}

.sideNav:hover{
    -fx-background-color: #0e4675;
    -fx-border-color: transparent transparent transparent #F0BF4C;
    -fx-border-width: 4px;
}


.service:hover{
    -fx-background-color: #F9E4B3;
}

.sideNav{
    -fx-background-color: transparent;
}

.navIcon{
    -fx-border-color: #F9E4B3;
    -fx-border-width: 0 0.5 0.5 0;
}

.orderBtn:hover{
    -fx-border-color: #F0BF4C;
}

.backOrderBtn:hover{
    -fx-border-color: blue;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #012D5A;
    -fx-background-insets: 0;
}

.floorDisplay{
    -fx-font-weight: bold;
}

.rectToggle .mfx-ripple-generator{
    -mfx-ripple-color: transparent;
}
.priorityToggle {
    -fx-background-color: #012D5A;
    -fx-border-color: #012D5A;
}
.priorityToggle:selected {
    -fx-background-color: #F0BF4C;
    -fx-border-color: #F0BF4C;
}

.table-view .scroll-bar *{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}



.table-view .column-header-background .column-header{
    -fx-background-color: white;
    -fx-pref-height: 65;
    -fx-border-color: #012D5A;
    -fx-border-width: 0 0 2 0;
}

.table-cell{
    -fx-wrap-text: true;
}


.table-view .column-header-background .label{
    -fx-text-fill: #012D5A;
    -fx-alignment: CENTER-LEFT;
    -fx-label-padding: 0 0 0 10;
}

.table-view {
    -fx-border-width: 0.5;
}

.tab-pane{
    -fx-padding: 5 5 0 5;

}


.tab-pane .tab-header-area .tab{
    -fx-background-color: transparent;
    -fx-padding: 0 0 5 0;

}


.tab-pane .tab .tab-label{
    -fx-text-fill: #012D5A;
    -fx-font-size: 15;
    -fx-label-padding: 0 15 0 15;
    -fx-font-weight: bold;
}

.tab-pane .tab:selected .tab-label{
    -fx-background-color: #F0BF4C;
    -fx-text-fill: #012D5A;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}


.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: #f5f5f5;
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: white;
    -fx-wrap-text: true;
}

.choice-box{
    -fx-border-color: #012D5A;
    -fx-border-radius: 5;
}

.loginField{
    -fx-border-radius: 0;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: #012D5A;
}


.newScrolls{
    -fx-background-radius: 5;
    -fx-border-color: #012d5a;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -thumb-color: #012d5a;
    -fx-background-color: #ffffff;
    -thumb-hover-color: #fcd474;
    -track-color: #ffffff;
    -fx-hbar-policy: "NEVER";
    -fx-vbar-policy: "ALWAYS";
}

.newScrolls:hover{
    -thumb-hover-color: #fcd474;
    -thumb-color: #fcd474;
}

.otherScroll{
    -thumb-color: #012d5a;
    -fx-background-color: #ffffff;
    -thumb-hover-color: #fcd474;
    -track-color: #ffffff;
    -fx-hbar-policy: "NEVER";
    -fx-vbar-policy: "ALWAYS";
}

.otherScroll:hover{
    -thumb-hover-color: #fcd474;
    -thumb-color: #fcd474;
}

.evolve{
    -fx-background-color: linear-gradient(to bottom, rgb(2,0,36), rgb(55,121,107), rgb(255,255,255));
}

.userNav:hover{
    -fx-background-color: #EEEEEE;
}

.rectToggle:selected {
    -fx-background-color: #fcd474 !important;
    -fx-border-color: #fcd474 !important;
    -fx-background-radius: 0 !important;
}

.rectToggle{
    -fx-background-color: #ffffff;
    -fx-background-radius: 0;
}

.rectToggle:hover{
    -fx-background-color: #f9e4b3;
    -fx-background-radius: 0;
}


